*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	font: inherit;
	border: none;
	cursor: pointer;
}

input, label {
	font: inherit;
}

:root {
	--_hue: 240;
	--_size: 2.2rem;
	--_radius: .2em;
	--_tspeed_fast: 150ms;
	--_tspeed_slow: 400ms;
	--_ttype_squish: cubic-bezier(0.86, -0.1, 0.27, 1.15);

	--bg--light: var(--_hue) 30% 94%;
	--txt--light: var(--_hue) 40% 5%;
	--accent--light: var(--_hue) 55% 50%;
	--muted--light: var(--_hue) 30% 99%;

	--bg--dark: var(--_hue) 15% 10%;
	--txt--dark: var(--_hue) 30% 88%;
	--accent--dark: var(--_hue) 50% 50%;
	--muted--dark: var(--_hue) 20% 4%;

	--bg: var(--bg--light);
	--txt: var(--txt--light);
	--accent: var(--accent--light);
	--muted: var(--muted--light);
	color-scheme: light;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: var(--bg--dark);
		--txt: var(--txt--dark);
		--accent: var(--accent--dark);
		--muted: var(--muted--dark);
		color-scheme: dark;
	}
}


body {
	min-height: 100vh;
	font-family: "Roboto Condensed", sans-serif;
	background-color: hsl(var(--bg));
	color: hsl(var(--txt));
	padding:0px 10% 0;
}

h1 {
	font-size: calc(var(--_size) * 1.3);
}


header {
	min-height: 10vh;
	/* background-color: lightblue; */
	display: flex;
	justify-content: left;
	align-items: center;
	text-align: center;
	padding: 0px 10% 0;
	/* outline:2px solid green; */
}

main {
	min-height: 90vh;
	/* background-color: aquamarine; */
}

.input-wrapper {
  position: relative;
  display: grid;
  gap: .2em;
  margin-block-start: .6em;
  margin-bottom: 0;
}


.form-label {
	text-transform: uppercase;
	font-size: 0.7em;
	letter-spacing: 0.05em;
	margin-inline: 0.45em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 0.1em 0.35em;
	background-color: hsl(var(--muted));
	transition: transform var(--_tspeed_fast) var(--_ttype_squish),
	  background-color var(--_tspeed_fast) var(--_ttype_squish);
  }
  
  .form-input {
	border: none;
	border-radius: var(--_radius);
	padding: 0.35em 0.55em;
	width: 100%;
	background-color: hsl(var(--muted));
	caret-color: hsl(var(--accent));
	box-shadow: 0 0 0 -0.1em hsl(var(--bg)),
	  0 0 0 -0.2em hsl(var(--accent) / 0.8);
	transition: box-shadow var(--_tspeed_slow) var(--_ttype_squish);
  }
  
  .form-input:focus {
	outline: none;
	box-shadow: 0 0 0 0.2em hsl(var(--bg)),
	  0 0 0 0.4em hsl(var(--accent) / 0.8);
  }
  
  .form-input:focus ~ .form-label,
  .form-input:not(:placeholder-shown) ~ .form-label {
	transform: translate3d(0, -2.75em, 0);
	background-color: hsl(var(--bg));
	color: hsl(var(--accent) / 0.8);
  }
  
  .form-input::placeholder {
	opacity: 0;
  }

  .btn {
	max-width: fit-content;
	display: flex;
	place-items: center;
	gap: 0.5em;
	background-color: hsl(var(--accent));
	color: hsl(var(--bg));
	text-decoration: none;
	padding: 0.4em 1.4em;
	border-radius: var(--_radius);
	box-shadow: 0.05em 0.1em 0.9em hsl(var(--accent) / 0.3),
	  0 0 0 -0.1em hsl(var(--bg)), 0 0 0 -0.2em hsl(var(--accent));
	transition: box-shadow var(--_tspeed_slow) var(--_ttype_squish),
	  background-color var(--_tspeed_slow) var(--_ttype_squish);
	margin-left: 10px;
	margin-top:10px;
  }
  
  .btn :where(svg, img, span) {
	pointer-events: none;
  }
  
  .btn :where(svg, img) {
	width: var(--_size);
  }
  
  .btn:where(:active, :hover) {
	background-color: hsl(var(--accent) / 0.7);
	box-shadow: 0 0 0 hsl(var(--accent) / 0.3), 0 0 0 -0.1em hsl(var(--bg)),
	  0 0 0 -0.2em hsl(var(--accent));
  }
  
  .btn:focus {
	outline: none;
  }
  
  .btn:focus-visible {
	box-shadow: 0 0 0 hsl(var(--accent) / 0.3), 0 0 0 0.2em hsl(var(--bg)),
	  0 0 0 0.4em hsl(var(--accent) / 0.7);
  }

img{
	max-width: 85%;
  }

form {
	gap: .8em;
	max-width: 30%;
	text-align: left;
	padding-block: .5em;
	position: relative;
}

#favourites-button {
	margin-left: 20px;
	background-color: hsl(var(--accent));
	border-radius: 5px;
	padding: 10px;
}

.shows-container {
	min-height: max-content;
	/* border: 1px solid black; */
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-rows: repeat(2, 300px);
	grid-auto-rows: 300px;
	gap: 20px;
}

.show {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/* outline: 2px solid red; */
}

@media (max-width: 524px) {
	.shows-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 600px) {
	.modal.active {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.modal.active div {
		padding-left: 10%;
	}
}

.show-name {
	font-size: large;
	font-weight: bold;
}

#show-input input {
	vertical-align: top;
}

.showHeadline {
	width: 85%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


/* .fa-star:hover {
	color: goldenrod;

}

.star {
	cursor: pointer;
} */

.modal {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 300ms ease-in-out;
	border: 2px solid black;
	width: 80%;
	height: 80%;
	z-index: 1;
	background-color: white;
	color: black;
	border-radius: 15px;
}

.modal.active {
	transform: translate(-50%, -50%) scale(1);
}

.modal div {
	margin-right: 50px;
}

.show-image {
	margin: 0 100px 0 100px;
	cursor: pointer;
}

.show-tags {
	color: rgba(0, 0, 0, 0.4);
	margin-top: 10px;
}

.show-summary {
	margin-top: 10px;
	font-size: 14px;
	line-height: 20px;
}

.url-container {
	margin-top: 30px;
	font-size: 14px;
	line-height: 20px;
	text-align: right;
}

#close-modal {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: transparent;
	color: black;
	transition: all 200ms ease-in-out;
}

#close-modal:hover {
	background-color: tomato;
}

#overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: 300ms ease-in-out;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none; /* This makes our pointer events (clicks) work through the overlay */
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}


.autocomplete {
	/*the container must be positioned relative:*/
	position: absolute;
	list-style: none;
	margin: 0;
	margin-top: 7px;
	padding: 0;
	/*background-color: rgba(255, 255, 255, 0.93);*/
	background-color: hsl(var(--muted));
	width: 100%;
	text-transform: uppercase;
	font-size: 0.7em;
	letter-spacing: 0.05em;
	max-height: 200px;
	overflow-y: auto;
  }

  .autocomplete li {
	padding: 10px;
	width: calc(100%-20px);	
	cursor: pointer;
  }

  .hidden-el {
	display: none;
  }